body {
     background-color: #cecece;
     font-family: 'Raleway', sans-serif;
     color: rgb(34, 34, 34);
}

.container {
     width: 900px;
     margin: 0 auto;
}

.profile{
     text-align: center;
     margin-bottom: 40px;
}

.foto 
{
     width: 200px;
     border: 2px solid white;
     border-radius: 50%; 
     margin: 30px 30px 0px 30px;
     box-shadow: 0px 0px 10px black;
}
    
h1{
     margin-top: 10px;
     margin-bottom: 0;
     letter-spacing: -1px;
     font-family: 'PT Sans Narrow', sans-serif;
     font-size: 40px;
}
    
h2 {
     margin-top: 0;
     font-style: italic;
     color: #414141;
     font-weight: 100;
     letter-spacing: -1px;
}

.social-links{
     text-decoration: none;
}

.social-icons {
     width: 20px;
}

.github{
     margin: 0px 15px 0px 15px;
}




      
 
       